/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Barlow", "san-serif";
    line-height: 1.7;
    color: #082375;
}


a {
    color: #1977cc;
    text-decoration: none;
    transition: all 0, 4s ease;
    font-weight: 500;

}

img {
    width: 100%;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

a:hover {
    color: rgb(25, 164, 206);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #0b2d85;

}

#topbar {
    background: #5fcced;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}

#topbar .topbar-scrolled {
    top: -40px;

}

#topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: 3fbbc0;
}

#topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
}

#topbar .contact-info i:first-child {
    margin-left: 0;

}

#tolbar .social-links a {

    color: #3fbbc0;
    padding-left: 15px;
    display: inline-block;
    align-items: center;
    line-height: 1px;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 100%;


}

#toolbar .social-links a:hover {
    color: #1977cc;

}

#toolbar .social-links a:first-child {
    border-left: 0;
}


/*Header*/

#header {
    background: #96cbdb;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
    top: 0;
}

#header .logo-image {
    width: 150px;
    height: 100px;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Barlow", sans-serif;
}

#header .logo a {
    color: #1977cc;
}

#header .logo img {
    max-height: 40px;
}

/*Navbar*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
}

.nav a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #1977cc;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;

}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-right: 5px;

}

.navabar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
}

/* Appointement*/
.appointment-btn {
    margin-left: 25px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.appointment-btn:hover {
    background: #3fbbc0;
    color: #fff;
}

@media (max-width: 768px) {
    .appointment-btn {
        margin: 0 15px 0 0;
        padding: 6px 18px;

    }
}

/*Mobile navigation*/

.mobile.nav-toggle {
    color: #239f85;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile.nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile.nav-toggle {
        display: bl;

    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(25, 119, 204, 0.1);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;

}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 15px 0;
    background: #fff;
    overflow: auto;
    transition: 0.3s;
}

.navbar-mobile ul>li {
    padding: 0;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #1977cc;
    border: none;

}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover {
    color: #3fbbc0;
}

.navbar-mobile .getstarted {
    @media (max-width: 991px) {
        .mobile.nav-toggle {
            display: none;

        }

        .navbar ul {
            display: none;
        }
    }
}

.section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f1f7fd;
}

.section-tittle {
    text-align: center;
    padding-bottom: 30px;
}

.section-tittle h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}

;

.section-tittle h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: cal(50% - 60px);
}

.section-tittle h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0px;
    left: cal(50% - 20pxx);
}

.section-tittle p {
    margin-bottom: 0;
}

/*Slider*/


.slide1 {
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(../images/slide1.jpg);

}

.slide2 {
    background: linear-gradient(rgba(9, 32, 50, 0.4), rgba(9, 32, 50, 0.4)), url(../images/slide2.jpg);

}

/* OwlCarousel */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.2, green, blue, alpha) !important;
    margin-top: -30px !important;
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 12px;
    border-radius: 100px;

}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

/* OwlCarousel */
.owl-prev:hover,
.owl-next:hover {
    background-color: #1977cc !important;
}


/*Home section*/
/*
    #Home{
        width: 100%;
        height: 90vh;
        background: url(../images/option1.jpg) top center;
        background-size: cover;
        background-position: center;
    }
    #Home .container{
        position: relative;
    }
    #Home h1{
       margin: 0; 
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       text-transform: uppercase;
       color: #1f4d77;
    }
    #Home h2{
        color: #1f4d77;
        margin: 10px 0 0 0;
        font-size: 24px;
    }
    #Home .btn-get-started{
        font-family: sans-serif, "Raleway";
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display:inline-block;
        padding: 12px 35px;
        margin-top: 30px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background: #1977cc;
    }
    #Home .btn-get-started:hover{
        background: #3fbbc0;
    }
    */
@media (max-width :1024px) {
    #Home {
        background-attachment: fixed;
    }
}

@media (max-width :992px) {
    #Home {
        margin-bottom: 0;
        height: 100vh;

    }

    #Home .container {
        padding-bottom: 63px;
    }

    #Home h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #Home h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width :600px) {
    #Home {
        height: 110vh;
    }
}

/*Featured-service*/

/* About */


.about .icon-boxes h4 {
    font-size: 18px;
    color: #4b7dab;
    margin-bottom: 15px;
}

.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #2c4964;
    margin-bottom: 15px;
}


.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #8dc2f1;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #1977cc;
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: #3fbbc0;
    background-color: #3fbbc0;
}

.about .icon-boxover .icon i {
    color: #fff;
}

.about .icon-box .tittle {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .tittle a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .tittle a:hover {
    color: #1977cc;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .video-box {
    background: url("../images/prince.jpeg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
    clip-path: circle(45% at 50% 50%);
}

.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0, 4)52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translate(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55 0.055, 0.675, 0.29);

}

.about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(25, 119, 204, 0.7);
    top: -15;
    left: -15;
    background: rgb(198, 16, 0, 0);
}

.about .play-btn:hover::after {
    border-left: 15px solid #1977cc;
    transform: scale(20);
}

.about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff0;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scaale(0, 6 0, 6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;

    }
}

@keyframes pulsate-btn {
    0% {
        transform: scaale(0, 6 0, 6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;

    }

}


/*Counts*/
.counts {
    background: #96cbdb;
    padding-bottom: 30px;
}

.counts .count-box {
    box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

.counts .count-box i {
    display: block;
    font-size: 30px;
    color: #1977cc;
    float: left;
}

.counts .count-box span {
    font-size: 42px;
    line-height: 24px;
    display: block;
    font-weight: 700;
    color: #555555;
    margin-left: 50px;
}

.counts .count-box p {
    padding: 30px 0 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.counts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #7b7b7b;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    transition: ease-in-out 0.3;
}

.counts .count-box a:hover {
    color: #3fbbc0;

}

/*Services*/

/*
.services .icon-box{
    text-align: center;
    border: 1px solid #fdf1f3;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;

}
.services .icon-box .icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all o.3 ease-out 0s;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;

}
.services .icon-box .icon i{
    color: #fff;
    font-size: 28px;

}
.services .icon-box .icon::before{
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #badaf7;
    border-radius: 5px;
    transition: all o.3s ease-out0s;
    transform: translateZ(-1px);
}
.services .icon-box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;

}
.services .icon-box a{
    color: #2c4964;
}
.services .icon-box p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.services .icon-box:hover{
    background: #3fbbc0;
    background-color: #3fbbc0;
}
.services .icon-box:hover .icon i{
    background: #fff;
}
.services .icon-box:hover .icon::before{
    background: #3291e6;
}
.services .icon-box:hover h4 a, .services .icon-box:hover p{
    color: #fff;
}
.services .rm-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3291e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
    
    */

.services .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
}

.services .container .heading {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4b4d52;

}

.services .container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

}

.services .container .box-container .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: none;
}

.services .container .box-container .box:nth-child(1),
.services .container .box-container .box:nth-child(2),
.services .container .box-container .box:nth-child(3) {
    display: inline-block;

}


.services .container .box-container .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;



}

.services .container .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services .container .box-container .box:hover .image img {
    transform: scale(1.1);
}

.services .container .box-container .box .content h3 {
    font-size: 20px;
    color: #1977cc;
}

.services .container .box-container .box .content p {
    font-size: 15px;
    color: #4d5a66;
    line-height: 2;
    padding: 15px 0;
}

.services .container .box-container .box .content .btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #1977cc;
    color: #239f85;
    font-size: 16px;
}

.services .container .box-container .box .content .btn:hover {
    background-color: #3fbbc0;
    border-color: #239f85;
    color: #fff;
}

.services .container .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #3fbbc0;
}

.services .container .box-container .box .content .icons span {
    font-size: 14px;
    color: #2c4964;
}

.services .container .box-container .box .content .icons span i {
    color: #3fbbc0;
    padding-right: 5px;
}

#load-more {
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border: 1px solid #1977cc;
    color: #3291e6;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;

}

#load-more:hover {
    background-color: #3fbbc0;
    border-color: #239f85;
    color: #fff;
}

@media (max-width:450px) {
    .services .container .heading {
        font-size: 25px;
    }

    .services .container .box-container {
        grid-template-columns: 1fr;
    }

    .services .container .box-container .box .image {
        height: 200px;


    }

    .services .container .box-container .box .content {
        font-size: 12px;
    }

    .services .container .box-container .box .content .icons span {
        font-size: 12px;
    }

}

/*Contact section*/
.contact .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact .contact-box {
    max-width: 860px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, .19);
}

.contact .left iframe {
    padding: 10px 10px;
    width: 100%;
    height: 470px;

}

.contact .right {
    padding: 25px 40px;
}

.contact h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.contact h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #3fbbc0;
}



.contact .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, .6);
    padding: .5rem 1rem;
    margin-bottom: 22px;
    transition: .3s;

}

.contact .field:hover {
    background-color: rgba(0, 0, 0, .1);

}

.contact textarea {
    min-height: 150px;
}

.contact .btn {
    width: 100%;

    padding: 18px 44px;
    background: #1977cc;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.contact .btn:hover {
    background: #1977cc;
}

.contact .field:focus {
    border: 2px solid rgba(30, 85, 250, .7);
    background: #fff;
}
@media screen and (max-width:769px) {
    .contact .contact-box{
        grid-template-columns: 1fr;
    }
    .contact .left iframe{
        padding: 0;
    }
}
/*.featured-services .icon-box{
        padding: 30px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
    }
    .featured-services .icon-box::before{
        content: "";
        position: absolute;
        background: #d9f1f2;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100%;
        transition: all o.3s;
        z-index: -1;
    }
    .featured-services .icon-box:hover::before{
        background: #3fbbc0;
        top: 0;
        border-radius: 0px;
    
    }
    .featured-services .icon{
        margin-bottom: 15px;
    }
    .featured-services .icon i{
        font-size: 48px;
        line-height: 1;
        color: #1977cc;
        transition: all 0.3s ease-in-out;
    }
    .featured-services .tittle{
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .featured-services .tittle a{
        color: #111;
    }
    .featured-services .description{
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
    }
    .featured-services .icon-box:hover .tittle a, .featured-services .icon-box:hover .description{
        color: #fff;
    }
    .featured-services .icon-box:hover .icon i{
        color: #fff;
    }
        */
/* Form */
.form-control:focus {
    box-shadow: none;
    border-color: #3291e6;
}

/*Appointment-section*/

.appointment .php-email-form {
    width: 100%;

}

.appointment .php-email-form .form-group {
    padding-bottom: 8px;
}

.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important;

}

.appointment .php-email-form input,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
    border-color: #1977cc;

}

.appointment .php-email-form input,
.appointment .php-email-form select {
    height: 44px;
}

.appointment .php-email-form textarea {
    padding: 10px 12px;
}

.appointment .php-email-form button[type="submit"] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.appointment .php-email-form button[type="submit"]:hover {
    background: #3fbbc0;
}
.appointment .btn-primary {
    background-color: #bedaf7;
    border-color: #007bff;
}
/*
.contact .info{
    width: 100%;
    background: #fff;
}
.contact .info i{
    font-size: 20px;
    color: #1977cc;
    float: left;
    height: 44px;
    width: 44px;
    background: #d9f1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
}
.contact .info p{
    padding: 0 0 0 600px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
}
.contact .info .email .contact .info .phone{
    margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i{
    background: #3fbbc0;
    color:#fff;

}
.contact .php-email-form{
    width: 100%;
    box-shadow: none;
    font-size: 14px;
}
.contact .php-email-form input, .contact .php-email-form textarea{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.contact .php-email-form input{
    height: 44px;
}
.contact .php-email-form textarea{
    padding: 10px 12px;
}
.contact .php-email-form button[type="submit"]{
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover{
    background: #3fbbc0;
    color: #fff;
}
/*Footer*/
/*
#footer{
width: 100%;
position: absolute;

background: linear-gradient(to right, #1977cc, #3fbbc0);
color: #fff;
padding: 100px 0 30px;
border-top-left-radius: 125px;
font-size: 13px;
line-height: 20px;
}
#footer .row{
   width: 85%; 
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}
#footer .col{
    flex-basis: 25%;
    padding: 10px;
    
}
#footer .logo{
    width: 80px;
    margin-bottom: 30px;
}
#footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
#footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #3fbbc0;
    margin: 20px 0;
}
#footer .ul li{
    list-style: none;
    margin-bottom: 12px;
}
#footer .ul li a{
text-decoration: none;
color: #fff;
}
*/
/*footer area*/
.footer-area {
    margin-top: 100px;
    padding: 100px 0;
    background: linear-gradient(to right, #1e589a 0%, #2a8ad8 45%, #7ebae8 100%);
    color: #fff;
    position: relative;

}

.footer-area .main {
    width: 1200px;
    margin: 0 auto;
}

.footer-area .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-area .single-footer {
    width: 230px;
}

.footer-area .single-footer:first-child {
    width: 400px;
}

.footer-area .single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-area .single-footer ul {
    list-style: none;
}

.footer-area .single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.footer-area .single-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.footer-area .single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}

.footer-area .social-links a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-top: 10px;

}

.footer-area .footer-social {
    margin-top: 20px;
}

.footer-area .copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}
.footer .credits {
    text-align: center;   /* Center-align text */
    font-size: 13px;      /* Adjust font size as needed */
    padding-top: 10px;    /* Top padding */
    margin-top: 50px;
}
.footer .credits a {
    color: #000;          /* Link color */
    text-decoration: none;
}

/*
#footer{
   background: #eeeeee; 
   padding: 0 0 30px 0;
   color: #555555;
   font-size: 14px;
}
#footer .footer-top{
    background: #f6f6f6;
    padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info{
    margin-bottom: 30px;
}
#footer .copyright{
    text-align: center;
    padding-top: 30px;
}
#footer .credits{
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}
*/
/*Reloader*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1977cc;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0, 4s;
}

/*

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: .2s;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    
}
.header{
    padding: 1rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header #logo{
    width: 50px;
}
    /*
.navbar a{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
  
}
.navbar a:after{
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}
.navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}
    /*
.icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
}
.icons a{
    color: white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .5s;
}
.icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
}
.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.background-image{
    background: url(images/prince.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 6%;
    position: relative;

}
.background-content{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}
.background-content h1{
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
.background-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.background-content a{
    background: var(--secclr);
    padding: 1.5rem 3rem;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    transition: .5s;
}
.background-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;
}
.about{
    padding: 6rem 7%;
    background: var(--third);
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-about{
    flex: 1 1 45rem;
}

.inner-about .inner-about-image img{
    width: 100%;
}
.about-content{
    width: 80%;
}
.about-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.about-content a{
    background: var(--secclr);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: white;
    transition: .5s;
}
.about-content a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
    color: black;
}
.our-services{
    padding: 4rem 7%;
}
.service-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.left-service-content{
    flex: 1 1 45rem;
}
.right-service-content{
    flex: 1 1 45rem;
    display: flex;
    justify-content: flex-end;

}
.left-service-content h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.left-service-content p{
    font-size: 1.5rem;
}
.right-service-content .right-btn a{
    padding: 1.5rem 3rem;
    font-size: 2rem;
    color: white;
    background: var(--secclr);
}
.right-service-content .right-btn a:hover{
    border: 1px solid var(--secclr);
    background: transparent;
    color: black;
}
.main-services{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-services-content{
    flex: 1 1 300px;
    padding: 1rem 3rem;
    text-align: center;
}
.inner-services-content h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.inner-services-content p{
    font-size: 1.5rem;
    line-height: 2;
}
.service-icon i{
    font-size: 4rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    text-align: center;
    line-height: 8rem;
    background: var(--mainafterclr);
    color: var(--mainclr);
    margin-bottom: 15px;
    cursor: pointer;
    transition: .3s;
}
.service-icon i:hover{
    color: white;
    background: var(--mainclr);
}
.gallery{
    padding: 4rem 7%;
}
.gallery h1{
    color: var(--mainclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-gallery{
    flex:1 1 300px;

}
.inner-gallery img{
    width: 100%;
    transition: .3s;
}
.inner-gallery img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.our-doctors{
    padding: 4rem 7%;
}
.our-doctors h1{
    text-align: center;
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 30px;
}
.main-doctor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.inner-doctor{
    flex: 1 1 300px;
    position: relative;
}
.inner-doctor img{
    width: 100%;

}
.doc-icons{
    position: absolute;
    bottom: 2%;
}
.doc-icons div{
    font-size: 2rem;
    color: var(--mainclr);
    background: white;
    border: 1px solid black;
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    cursor: pointer;
}
.doc-icons div:hover{
    transform: scale(1.1);
}
.why-choseus{
    padding: 4rem 7%;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.inner-chose{
    flex: 1 1 45rem;
}
.inner-chose img{
    width: 100%;
}
.inner-chose h1{
    font-size: 40px;
    color: var(--mainclr);
    margin-bottom: 20px;
}
.main-inner-chose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    
}
.chose-icon i{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    background: white;
    color: var(--mainclr);
    font-size: 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon-content{
    padding: 0 4rem;
}
.icon-content p{
    font-size: 1.5rem;
    line-height: 1;
}
.footer{
    padding: 6rem 7%;
    background: var(--third);
}
.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.inner-footer{
    flex: 1 1 200px;
}
.inner-footer h2{
    font-size: 2rem;
    color: black;
}
.inner-footer a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
}
.inner-footer a:hover{
    margin-left: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mainclr);
    background: var(--mainclr);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secclr);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--third);
}

*/
/*

@media (max-width:767px) {

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--secclr);
        display: flex;
        
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    
    .navbar a{
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin: 1rem;
        padding: 1rem;
        color: black;
    }
    .background-content{
        
        width: 100%;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       padding-left: 5rem;
    }
    .inner-about .inner-about-image img{
        margin-top: 20px;
    }

    .right-service-content{
       
        justify-content: flex-start;
    
    }


}
*/